/* Header Styling */
.text-muted{
    font-family: 'Special Elite', cursive;
    padding: 15px
}

.display-4{
    font-family: 'Exo', sans-serif;
}

 /* Social Media Link Styling */
.rounded-circle {
    display: block;
    height: 3rem;
    width: 3rem;
    line-height: 3.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);

}

.social-link:hover {
    background-color: #155d74;
    text-decoration: none;
  }
  
  a {
    color: #1D809F;
  }
  
  a:hover, a:focus, a:active {
    color: #155d74;
  }

  i{
      color: white;
  }