#container_home{
    background-image: url("../Assets/images/chris-barbalis-348804-unsplash.jpg");
    /* height: 970px;
    width: auto; */
    background-size: cover;
    background-repeat: no-repeat;
}

#container_home > .container {
    background-color: transparent;
    color: whitesmoke;
    margin-top: 300px;
}

.container > h1 {
    font-family: 'Special Elite', sans-serif;
    font-size: 90px;
    line-height: .9;
    text-shadow: 2px 2px 4px #000000;
}

.container > h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    line-height: .8;
    text-shadow: 2px 2px 4px #000000;
}

#aboutme-btn{
    background-color: #FF3399;
    color: white;
    border-radius: 0;
    border: 2px solid white;
    padding: 20px 50px 20px 50px;
    margin-top: 55px;
    box-shadow: -1px 2px 29px -3px rgba(0,0,0,0.75);
}