#App {
  text-align: center;
}

#background-img{
    /* background-image: url("./Assets/images/chris-barbalis-348804-unsplash.jpg"); */
    height: 1000px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    border-left: 15px solid #FF3399;
    border-top: 15px solid purple;
    border-right: 15px solid #3F26BF;
    border-bottom: 15px solid #FF9966;
    /* margin-left: 70px;
    margin-right: 70px; */
}
